.App {
  border: 5px solid #333333;
  height: 600px;
  margin: 30px;
  padding: 20px;
}

#square{
  display: flex;
}
.left{
  margin-bottom: -16px;
}
/* button{
  margin: 100px;
  margin-top: 50px;
  width: 20%;
}
 */


